#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Adicione ao seu arquivo de estilos globais */
:root {
	--bg-input: #ffffff;
	--border-input: #d1d5db;
	--border-input-hover: #9ca3af;
	--text-primary: #111827;
	--bg-hover: #f3f4f6;
	--primary-100: #e0e7ff;
	--primary-200: #c7d2fe;
	--primary-600: #4f46e5;
	--primary-700: #4338ca;
	--primary-900: #312e81;
  }
  
  [data-theme="dark"] {
	--bg-input: #374151;
	--border-input: #4b5563;
	--border-input-hover: #6b7280;
	--text-primary: #f3f4f6;
	--bg-hover: #4b5563;
	--primary-100: #312e81;
	--primary-200: #3730a3;
	--primary-600: #4f46e5;
	--primary-700: #6366f1;
	--primary-900: #818cf8;
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: animloader 2s ease-in-out infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

@keyframes animloader {
    0%, 100% {
      transform: scale(0);
      opacity: 1;
}
    50% {
      transform: scale(1);
      opacity: 0;
}
  }
  